* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New';
}

/* Header */
header {
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0%;
}

.headerFlex{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input {
  border: none;
  padding-left: 8px;
  border-left: 8px;
}

button {
  border: none;
  border-radius: 8px;
  background-color: rgb(221, 212, 212)
}

/* Main */
main {
  flex-direction: column;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .mercado:hover{
  transform: scale(0.95,0.95);
  transition: 2s;
}
main section .restaurantes:hover{
  transform: scale(0.95,0.95);
  transition: 2s;
}

/* Galery */
.galery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.galery-item {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  box-shadow:  2px 10px 20px rgba(0,0,0,0.15);
}
.galery-item .galery-img {
  width: 150px;
  margin-top: 20px;
}
.galery-item figcaption {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.galery-item .stars img {
  width: 20px;
}
.galery-item .aling-price-button {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.galery-item .price {
  font-size: 1em;
  font-weight: bold;
  margin-left: 30px;
  color: #57B197;
}
.galery-item button {
  align-self: flex-end;
  background-color: #a58a7a;
  border: 0;
  width: 60px;
  height: 60px;
  border-radius: 50% 0 20px 0;
  color: #f7f7f7;
  font-size: 2.5em;
  font-weight: bolder;
}
.galery-item button:hover {
  cursor: grab;
}

/* Footer */
footer {
  padding: 20px 80px 20px 80px;
  background-color: #f7f7f7;
  color: #a58a7a;
}
footer section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  border-top: 2px solid #a58a7a;
}
footer nav {
  flex: 1 1 300px;
  margin-top: 20px;
}
footer li {
  list-style: none;
  display: flex;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #a58a7a;
}
footer img {
  margin: 10px 10px 10px 0;
}
footer .icons li{
  display: inline-block;
  margin-right: 10px;
}
footer .icons a > img {
  width: 20px;
}
footer .icons > img {
  width: 200px;
  margin-top: 0;
}
footer .services li {
  margin-top: 10px;
}
footer .contacts img {
  width: 15px;
}
